$wit: #fff;
$turqoise: #00e0d0;
$subtitle: #413d4b;
$title:#2f2d35;
$lightgray:#c6c4c9;
$gray:#2f2d35;
$darkblue:#120e37;
$gray1:#a1a1a1;
$gray2:#8a8a8a;

$gap: 20px;
$fontSize: 16px;


$playfair: 'Playfair Display', serif;
$roboto: 'Roboto', sans-serif;